/*
Application color theme.
 */
/* 
Screen breakpoints
*/
/*
Application color theme.
 */
/* 
Screen breakpoints
*/
/*
Application fonts.
 */
/*
Footer layout
 */
footer {
  height: fit-content;
  background-color: #fffcf5;
}

.footerContainerTop {
  padding: 40px 80px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footerContainerTop {
    padding: 40px;
    gap: 32px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}

.footerMessage {
  padding: 0 10px;
  width: 23%;
  gap: 16px;
}
@media (max-width: 1200px) {
  .footerMessage {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .footerMessage {
    width: 100%;
  }
}

.footerMessageHeader {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 39px;
  line-height: 47px;
  margin: 0;
  padding: 10px 0;
}
@media (max-width: 768px) {
  .footerMessageHeader {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 31px;
    line-height: 38px;
  }
}

.footerMessageParagraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 10px 0;
}
@media (max-width: 768px) {
  .footerMessageParagraph {
    width: 90%;
    padding: 0;
  }
}

.footerActionLinks {
  width: 23%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 30px;
}
@media (max-width: 768px) {
  .footerActionLinks {
    width: 100%;
    padding: 0;
  }
}

.footerActionLinksItem {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.footerActionLinksAnchor {
  cursor: pointer;
  text-decoration: none;
  color: #00081f;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border-bottom: 1px solid #00081f;
}

.footerSocialMedia {
  width: 23%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
  gap: 30px;
}
@media (max-width: 768px) {
  .footerSocialMedia {
    width: 100%;
    justify-content: start;
    padding: 0;
  }
}

.footerSocialMediaLink {
  text-decoration: none;
  color: #060718;
}

.footerSocialMediaIcon {
  width: 46px;
  height: 46px;
}

.footerBottomContainer {
  border-top: solid #ebeae5 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 80px;
}
@media (max-width: 768px) {
  .footerBottomContainer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
  }
}

.footerBottomTitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: auto 0;
  order: 1;
  color: #060718;
}
@media (max-width: 768px) {
  .footerBottomTitle {
    order: 2;
  }
}

.footerBottomLinksContainer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  order: 2;
}
@media (max-width: 768px) {
  .footerBottomLinksContainer {
    order: 1;
  }
}

.footerBottomLink {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=footer.css.map */
