/*
Application color theme.
 */
/* 
Screen breakpoints
*/
/*
Application color theme.
 */
/* 
Screen breakpoints
*/
/*
Application fonts.
 */
/*
Navigation bar.
It is made up of three sections.
- Left: Logo
- Middle: Links with animated underline
- Right: Dropdown link that displays extended section
 */
.navbar-toolbar {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  width: 100%;
  height: 84px;
  color: #fffcf5;
  background: #060718;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 4;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}
.navbar-toolbar a, .navbar-toolbar .navbar-toolbar a:visited, .navbar-toolbar .navbar-toolbar a:link {
  color: #fffcf5;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.navbar-toolbar * {
  color: #fffcf5;
  background: #060718;
  box-sizing: border-box;
}

.navbar-toolbar + div {
  margin-top: 84px;
}

#navbar-toolbar-main {
  container-type: inline-size;
}

.navbar-nested-parent-link img {
  margin-left: 2px;
}

.navbar-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.navbar-link-selected {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.6em;
}

.navbar-link-selected a:active {
  text-underline-offset: 16px;
}

.navbar-toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 16px;
}

.navbar-left-container {
  display: inline-flex;
}

.navbar-left-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navbar-middle-container {
  display: inline-flex;
}

.navbar-middle-section {
  display: none;
  list-style-type: none;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .navbar-middle-section {
    display: inline-flex;
  }
}

.navbar-right-container {
  display: inline-flex;
}

.navbar-right-section {
  display: inline-flex;
}

#navbar-toolbar-extended {
  margin: 0;
  padding: 0;
}

.navbar-extended-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-extended-mobile-content ul::before {
  content: "";
}

.navbar-extended-mobile-section li.active a {
  color: #fffcf5;
  background: #060718;
}

.navbar-toolbar-extended {
  margin: 0;
  padding: 0;
  color: #fffcf5;
  background: #060718;
}

.navbar-extended-desktop-container * {
  color: black;
  background: #fffcf5;
}

.navbar-extended-mobile-container {
  height: 100%;
  color: #fffcf5;
  background: #060718;
}
.navbar-extended-mobile-container * {
  background: #060718;
}

.navbar-extended-parent-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.navbar-extended-parent-link a, .navbar-extended-parent-link a:visited, .navbar-extended-parent-link a:link, .navbar-extended-parent-link a:active {
  color: #ffc107;
}

.navbar-extended-mobile-section {
  padding: 16px;
}

/*# sourceMappingURL=navigation-bar.css.map */
