<!--
Default application footer.
-->
<footer>
    <div class="footerContainerTop">
        <div class="footerMessage">
            <h2 class="footerMessageHeader">Get Involved.</h2>
            <p class="footerMessageParagraph">Project is a tax-deductible civic-tech community dedicated to using
                technology and open data for positive civic change in Locale.</p>
        </div>

        <div class="footerActionLinks">
            <p class="footerActionLinksItem">
                Join us for our weekly meetings on <a href="/" class="footerActionLinksAnchor">meetup.</a>
            </p>
            <p class="footerActionLinksItem">
                See our <a href="/" class="footerActionLinksAnchor">projects.</a>
            </p>
            <p class="footerActionLinksItem">
                For any questions, visit our <a href="/" class="footerActionLinksAnchor">FAQs.</a>
            </p>
        </div>

        <div class="footerSocialMedia">
            <a href="/" class="footerSocialMediaLink">
                <img src="/public/img/socialmedia/facebook.svg" alt="Facebook" class="footerSocialMediaIcon">
            </a>
            <a href="/" class="footerSocialMediaLink">
                <img src="/public/img/socialmedia/twitter.svg" alt="X" class="footerSocialMediaIcon">
            </a>
            <a href="/" class="footerSocialMediaLink">
                <img src="/public/img/socialmedia/youtube.svg" alt="Youtube" class="footerSocialMediaIcon">
            </a>
        </div>
    </div>

    <div class="footerBottomContainer">
        <div class="footerBottomTitle">Project</div>
        <div class="footerBottomLinksContainer">
            <a href="/" class="footerBottomLink">get started</a>
            <a href="/" class="footerBottomLink">our team</a>
            <a href="/" class="footerBottomLink">code of conduct</a>
        </div>
    </div>
</footer>