<!--
Default application navigation bar.
-->
<nav id="navbar-toolbar" class="navbar-toolbar">
  <div id="navbar-toolbar-main">
    <div class="navbar-toolbar-content">
      <!--
      Left section.
      -->
      <div class="navbar-left-container">
        <a class="navbar-left-section" href="/">
          <img src="/public/img/logo_opensac_all.png" alt="Project logo" height="60" width="200">
        </a>
      </div>
      <!--
      Middle section.
      -->
      <div class="navbar-middle-container">
        <ul class="navbar-middle-section">
          <li class="navbar-link">
            <a href="/">Home</a>
          </li>
          <li class="navbar-link">
            <a href="/opensac">Opensac.org</a>
          </li>
          <li class="navbar-link">
            <a href="/learningblocks">Learning Blocks</a>
          </li>
          <li class="navbar-link">
            <a href="/trashai">Trash AI</a>
          </li>
        </ul>
      </div>
      <!--
      Right section.
      -->
      <div class="navbar-right-container">
        <div class="navbar-right-section">
          <div class="navbar-extended-parent-link">
<!--            <a href="#">-->
<!--              Get Involved-->
<!--              <img class="navbar-nested-extended-link-image" src="/public/img/chevron-down.png" width="16" height="16"-->
<!--                alt="Get involved navigation links">-->
<!--            </a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="navbar-toolbar-extended" class="hidden">
    <div class="navbar-extended-content">
      <!--
       Extended section mobile.
       -->
      <div class="navbar-extended-mobile-container">
        <div class="navbar-extended-mobile-content">
          <ul>
            <li class="navbar-extended-mobile-section">
              <a href="/projects">Projects</a>
            </li>
            <li class="navbar-extended-mobile-section">
              <a href="/project-pitch">Pitch a Project</a>
            </li>
            <li class="navbar-extended-mobile-section">
              <a href="/meetup">Meetup</a>
            </li>
            <li class="navbar-extended-mobile-section">
              <a href="/faqs">FAQs</a>
            </li>
          </ul>
        </div>
      </div>
      <!--
      Extended section desktop.
      -->
      <div class="navbar-extended-desktop-container">
        <div class="navbar-extended-desktop-content-container">
          <div class="navbar-extended-desktop-left-container">
            <div class="navbar-extended-desktop-left-section">
              Get started today and volunteer with us to drive positive change through technology, making a meaningful
              impact in your community!
              <a class="navbar-extended-desktop-button" href="/projects">Get Started</a>
            </div>
            <div class="navbar-extended-desktop-left-section">
              Explore our projects and discover how you can contribute your skills to drive innovation and create
              positive
              change.
              <a class="navbar-extended-desktop-button" href="/projects">See Projects</a>
            </div>
            <div class="navbar-extended-desktop-left-section">
              Explore our projects and discover how you can contribute your skills to drive innovation and create
              positive
              change.
              <a class="navbar-extended-desktop-button" href="/project-pitch">Pitch a Project</a>
            </div>
          </div>
          <div class="navbar-extended-desktop-right-container">
            <div class="navbar-extended-desktop-right-section">
              Join us for our weekly meetings on <a href="/meetup">meetup</a>.
            </div>
            <div class="navbar-extended-desktop-right-section">
              For any questions, visit our <a href="/faqs">FAQs</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>