/*
Application color theme.
 */
$secondary-50: #fffcf5;
$neutral-50: #f7f7f8;
$neutral-300: #a9aab1;
$secondary-500: #ffc107;
$neutral-900: #060718;
$primary-900: #00081f;

/* 
Screen breakpoints
*/
$screen-xs: 400px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;